* {
  box-sizing: border-box;
}

:root {
  --primary-color: black;
  --dark-modus-color: white;
  --bg-color: lightyellow;
  --dark-modus-bgcolor: darkblue;
  --nav-bg-color: darkorange;
  --nav-bg-color-secundary: darkgreen;
}

body {
  width: 100%;
}

nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10;
  background-color: var(--nav-bg-color);
}

.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li {
  list-style: none;
}
