.nav-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10;
  background-color: var(--nav-bg-color);
}

.nav-bar__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  left: -1rem;
}

li {
  list-style: none;
}
