/* Styles UserPage */

.user-card,
.settings-card {
  border: 2px solid var(--nav-bg-color);
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 3.5rem;
  height: 12.5rem;
}

.user-card {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 0.5rem;
}

.user-card__name {
  margin: 0;
  padding: 0;
}

.user-card__logo {
  height: 3rem;
  padding: 0.2rem;
}

.user-card__description {
  margin-top: 0;
  padding-left: 1rem;
  padding-top: 0;
}

.user-card__figurelist {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
}

.user-card__figurelist__list-item__counter-questions-card,
.user-card__figurelist__list-item__counter-bookmarkt-card {
  display: flex;
  border: 1px solid black;
  padding: 0.2rem;
  border-radius: 10%;
}

.user-card__figurelist__list-item {
  padding: 0;
  margin: 0;
}

.user-card__counter-questions-card__img {
  height: 1.5rem;
}

/*Dark Mode Funktion Styles*/
/*The label-Element */
/*To set the round button with position:absolute in the next step */

.dark {
  background-color: black;
  color: white;
}

.settings-card__switch-label {
  position: absolute;
  right: 4rem;
  width: 64px;
  height: 34px;
  display: inline-block;
}

.settings-card__switch-label__dark-mode-text {
  margin: 0;
  display: inline;
  padding: 0;
  position: absolute;
  left: 4rem;
}
/* The grey background of the switch */

.settings-card__switch-label span {
  position: absolute;
  background-color: #ccc;
  border-radius: 17px;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: background-color 0.4s;
}

/* The circular button in the switch */
.settings-card__switch-label span::before {
  background-color: var(--nav-bg-color);
  border-radius: 50%;
  content: "";
  position: absolute;
  left: 4px;
  bottom: 4px;
  height: 26px;
  width: 26px;
}

/* To make the button move to the right when clicked, the checkbox is used. The background of the button turns black when clicked and the round button moves to the right. */
input:checked + span {
  background-color: black;
}

input:checked + span::before {
  transform: translateX(30px);
}

/* The input element of the switch must still be hidden */
.settings-card__switch-label input {
  display: none;
}

/* However, to also change the text setting to the switch, the switch from display: inline-block becomes a grid container with two grid elements in a grid-template-area. */
.settings-card__switch-label {
  position: relative;
  display: grid;
  grid-template-columns: 230px 64px;
  grid-template-rows: 34px;
  grid-template-areas: "settings switch";
}

/* Assign the second grid-area (switch) to the switch and define the behaviour in the :checked state. */

.settings-card__switch-label span {
  background-color: #ccc;
  transition: 0.4s;
  grid-area: switch;
}

.settings-card__switch-label p {
  text-transform: uppercase;
  letter-spacing: 1px;
  height: 30px;
  margin-top: 0;
}
input:checked + p::before {
  content: "ON";
}

input:checked ~ p::after {
  content: " ON";
}